<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.njupt.njuptphysim.server.mapper.ResourcesMapper">

    <select id="getClazzExpList" resultType="ExpListDTO">
        select t.exp_id as expId, r.title
        from njupt_physim.tasks t
        left join njupt_physim.resources r on r.id = t.exp_id
        where t.clazz_id = #{clazzId}
    </select>


    <update id="updateEvaluation">
        update njupt_physim.resources
        <set>
            <if test="likes != null">
                likes = likes+1,
            </if>
            <if test="easyCount != null">
                easy_count = easy_count+1,
            </if>
            <if test="hardCount != null">
                hard_count = hard_count+1,
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>